<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
  <h1 style="text-align: center;">ARAMIKALAMA</h1>
      <p>Oru katha sollata sir, <a href="/secret">itha aluthunga</a></p>
      <p>Tea order pannanum sir, <a href="/order">itha aluthunga</a></p>
      <p><a href="/signup">signup</a></p>
      <p><a href="/login">login</a></p>
</body>
</html>